
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@theme {
    --font-orbitron: 'Orbitron', sans-serif;
    --font-audiowide: 'Audiowide', cursive;
    --font-major-mono: 'Major Mono Display', monospace;
    --font-exo2: 'Exo 2', sans-serif;
    --font-vt323: 'VT323', monospace;
}

@layer utilities {
    .font-orbitron {
        font-family: var(--font-orbitron);
    }
    .font-audiowide {
        font-family: var(--font-audiowide);
    }
    .font-major-mono {
        font-family: var(--font-major-mono);
    }
    .font-exo2 {
        font-family: var(--font-exo2);
    }
    .font-vt323 {
        font-family: var(--font-vt323);
    }
}